p, span {
  font-family: "DoodleJumpBold_v2";
}

body {
  margin: 0;
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  height: 100vh; /* Full viewport height */
}

#content {
  position: relative;
  max-width: 775px;
}

#top-bar {
  position: absolute;
  width: 100%;
  height: 8.2%;
  background-color: #d3e6f8b0;
  border-bottom: 2.5px solid rgba(113, 112, 112, 0.5);
}

#top-bar-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#score {
  margin-left: 13px;
  margin-bottom: 5px;
  font-size: 36px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#board {
  background-image: url("/assets/doodlejumpbg.png");
}