body {
  margin: 0;
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  height: 100vh; /* Full viewport height */
}

#board {
  background-image: url("/assets/doodlejumpbg.png");
}